<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.boot.dao.CartMapper">
    <select id="getCartByUserId" resultMap="myResultMap">
        select * from t_cart
        <where>user_id = #{userId}</where>
    </select>

    <insert id="addCart">
        insert into t_cart(user_id, last_item_name, total_item_number, total_price)
        values (#{userId}, #{lastItemName}, #{totalItemNumber}, #{totalPrice})
    </insert>

    <update id="update">
        update t_cart
        <set>
            <if test="lastItemName != null and lastItemName != ''">last_item_name = #{lastItemName},</if>
            <if test="totalItemNumber != null">total_item_number = #{totalItemNumber},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
        </set>
        <where>user_id = #{userId}</where>
    </update>

    <insert id="createOrder">
        insert into t_order(order_id, create_date_time, price, status, user_id)
        values (#{orderId}, #{createDateTime}, #{price}, #{status}, #{userId})
    </insert>


    <resultMap id="myResultMap" type="com.yt.boot.pojo.Cart">
        <id property="userId" column="user_id"></id>
        <result property="lastItemName" column="last_item_name"></result>
        <result property="totalItemNumber" column="total_item_number"></result>
        <result property="totalPrice" column="total_price"></result>
    </resultMap>
</mapper>