<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>后台管理</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" th:src="@{/script/jquery-1.7.2.js}"></script>
        <style type="text/css">
            h1 {
                text-align: center;
                margin-top: 200px;
            }
        </style>
    </head>
    <body>

        <div id="header" th:replace="~{/pages/common/common :: managerHeader}"></div>

        <div id="main">
            <h1>欢迎管理员进入后台管理系统</h1>
        </div>

        <div id="bottom" th:replace="~{/pages/common/common :: footer}"></div>
    </body>
</html>