<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>我的订单</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" th:src="@{/script/jquery-1.7.2.js}"></script>
        <style type="text/css">
            h1 {
                text-align: center;
                margin-top: 200px;
            }
        </style>
    </head>
    <body>

        <div id="header" th:replace="~{/pages/common/common :: header}"></div>

        <div id="main">
            <table>
                <tr>
                    <td>日期</td>
                    <td>金额</td>
                    <td>状态</td>
                    <td>详情</td>
                </tr>
                <tr th:each="order : ${page.list}">
                    <td th:text="${#temporals.format(order.createDateTime, 'yyyy-MM-dd HH:mm:ss')}">2015.04.23</td>
                    <td th:text="${order.price}">90.00</td>
                    <td th:if="${order.status == 0}">未发货</td>
                    <td th:if="${order.status == 1}">已发货</td>
                    <td th:if="${order.status == 2}">已收货</td>
                    <td><a th:href="@{/manager/toOrderManagerPage(orderId=${order.orderId})}">查看详情</a></td>
                </tr>

            </table>
            <div id="page_nav" th:replace="~{/pages/common/common :: pag_nav}"></div>
        </div>

        <div id="bottom" th:replace="~{/pages/common/common :: footer}"></div>
    </body>
</html>