<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.boot.dao.OrderItemMapper">
    <insert id="batchInsert">
        insert into t_order_item(item_id, item_name, item_number, item_single_price, item_total_price, order_id)
        values
        <foreach collection="cartItems" separator="," item="item">
            (#{item.itemId},#{item.name},#{item.number},#{item.singlePrice},#{item.totalPrice},#{orderId})
        </foreach>
    </insert>

</mapper>